set :member_name,     '' # John Doe
set :token,           '' # Grab from your Pivotal Tracker profile page
set :wip_story_limit, '' # Integer representing the number of stories allowed to work on at a given time
